@media(max-width: 1200px) {}

@media(max-width: 992px) {
    .footer__fon {
        display: flex;
        flex-direction: column;
    }

    .footer__tel {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 0;
    }

    .footer__alar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
    }


}



@media(max-width:768px) {

    .main__profession {
        display: flex;
        flex-direction: column;
    }

    .img-hover {
        width: 50%;
    }

    .footer__fon {
        display: flex;
        justify-content: center;
    }

    .footer__tel {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 0;
    }

    .footer__alar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
    }
}

@media(max-width:568px) {

    .marka__img {
        padding-bottom: 20px;
    }

    .img-hover {
        width: 100%;
    }

    .almos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;

    }

}